
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900:#302e4d;
    --text-black-700: #302e4d;


}

body{
   
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;

}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

}

::before,::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;


}

/* aside */
.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    padding: 30px;
    top: 0;
    height:100% ;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}

.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}